* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    color: #222;
}

/* HEADER */
header {
    background: #0a2540;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #00ff99;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #0a2540, #0f3d66);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 25px;
}

/* BUTTON */
.btn {
    background: #00ff99;
    color: #000;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
}

.light {
    background: white;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-size: 15px;
}

/* FOOTER */
footer {
    background: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

/* MOBILE */
@media (max-width: 600px) {
    nav {
        display: none;
    }

    .hero h1 {
        font-size: 26px;
    }
  }
